html,body, #root, .App{
  width: 100%;
  height: 100%;
  background-color: black;
  color:white;

}
#cell-numers-temp{
  height: 2rem;
  width: 4rem;
  position: absolute;
  left: 10rem;
}
.arena-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid{
  margin-top: 2rem;
  height: 50%;
  border: 3px solid white;
  display: grid;
  aspect-ratio: 1/1;
}

.cell{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.active, .head{
  background-color: white;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}
.food{
  background-color: rgb(112, 252, 131);
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}
.controlls-wrapper{
  margin-top: 20px;
}